
@model ProyectoMVC.Models.tbCategoria

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form action="@Url.Action("Create","Categorias")" method="POST">
                    <div class="modal-body">



                        <label for="floatingInput">Usuario</label>
                        <input type="text" class="form-control" id="floatingInput" name="txtCategoria" placeholder="Categoria" required>
                        @Html.ValidationMessageFor(model => model.cat_Descripcion, "", new { @class = "text-danger" })




                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>





<script>

</script>