@*@model ProyectoMVC.Models.tbCatgoria*@

<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-dialog-centered">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="@Url.Action("Create","Categorias")" method="POST">
                <div class="modal-body">



                    <label for="floatingInput">Categoria</label>
                    <input type="text" class="form-control" id="floatingInput" name="txtCategoria" placeholder="Categoria" required>
                    @*@Html.ValidationMessageFor(model => model.cat_Descripcion, "", new { @class = "text-danger" })*@
                    <h7 style="color:red;"> @Html.ValidationMessage("CategoriaVacia") </h7>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" id="btnGuardar" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>





<script>
    //$(document).ready(function () {
    //var imp = $("#floatingInput").val();



    //    $("#btnGuardar").click(function () {

    //        if (imp === "") {


    //            iziToast.error({ title: 'Error', message: 'El campo categoria en necesario', });


    //        } else {

    //            iziToast.success({
    //                title: 'Exito',
    //                message: 'Se inserto Correctamente!',
    //            });
    //        }
    //    });
    //});



   //$('#floatingInput').on('invalid', function () {
   //     this.setCustomValidity('El campo categorias en Necesario.');
   // });


</script>